*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/backgroundPic.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h1{
    font-size: 40px;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3e5ec4;
    position: absolute;
    left: 0;
    transition: 0.5s;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #3e5ec4;
}



#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 45%;
}

.about-col-2 p{
    text-align: justify;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3e5ec4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #3e5ec4;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;   
}

h6{
    color: #fff;
}


#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #282828;
    padding: 20px;
    font-size: 15px;
    font-weight: 300px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.services-list div {
    display: flex;
    flex-direction: column;
    background: #282828;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align the text */
    transition: background 0.5s, transform 0.5s;
}

.services-list div img {
    width: 70%;
    height: auto; /* Allow the image to maintain its aspect ratio */
    object-fit: contain;
    margin-bottom: 10px; /* Add spacing between the image and the title */
    border-radius: 5px;
}

.services-list div h2 {
    margin: 0; /* Remove default margin for the title */
}

.services-list div p {
    margin: 0; /* Remove default margin for the paragraph */
    text-align: justify;
}

.services-list div a {
    text-decoration: none;
    color: #ffffff; /* Change link color */
}

.services-list div:hover{
    background: #3e5ec4;
    transform: translateY(-10px);
}


.contact-left{
    flex-basis: 35%;
}

.contact-left h1{
    font-size: 60px;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i{
    color: #3e5ec4;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #3e5ec4;
    transform: translateY(-5px);
}

.btn{
    text-align: center;
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 15px solid #3e5ec4;
    padding: 14px, 50px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #3e5ec4;
    color: #fff;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #282828;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn{
    cursor: pointer;
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #282828;
    font-weight: 300;
    margin-top: 20px;
}

nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/backgroundPic.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 60px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #3e5ec4;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px; 
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left:S 25px;
        cursor: pointer;
    }
}